{% extends 'basic.html' %}

{% block title %}HomePage{% endblock title %}HomePage

{% block style %}
/* Main content styles */
.content {
  max-width: 65rem;
  margin: 12rem auto;
  margin-bottom: 4rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 0.4rem 0.8rem rgba(0, 0, 0, 0.35);
}

.blog-post {
  margin-bottom: 4rem; 
  background-color: #f9f9f9;
  padding: 2rem; 
}

.blog-post h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.blog-post p {
  color: #666;
  line-height: 1.5;
}

.recent-posts {
  margin-top: 4rem;
}

.recent-posts h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.25rem; 
  font-weight: bold;
}

.recent-posts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recent-posts li {
  margin-bottom: 1rem; 
}

.recent-posts li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.recent-posts li a:hover {
  color: #333;
}

/* Responsive Styles */

@media (max-width: 48rem) { 
  .content {
    margin: 8rem auto;
  }
  
  .blog-post h2 {
    font-size: 1.25rem;
  }
  
  .recent-posts h3 {
    font-size: 1.125rem;
  }
}

{% endblock style %}

{% block body %}
<!-- Main content -->
<div class="content">
  {% for post in posts|slice:':2' %}
    <div class="blog-post">
      <h2>
        <a href="blog/{{post.serial_no}}"
        style="color:black;text-decoration:none;"
        class="display-6 fw-normal">
        {{post.title}}
      </a></h2>
      <p
      class="blockquote"
      style="font-size:0.95rem;"
      >{{post.content | truncatechars:500}}</p>
    </div>
    {% endfor %}
  </div>

  <!-- Recent Posts -->
  <div class="container d-flex justify-content-start">
    {% if posts|length > 2 %}
    <div class="recent-posts">
      <h3>Recent Posts</h3>
      <ul class="list-group list-group-flush">
        {% for post in posts|slice:"2:5" %}
        <li class="list-group-item"><a href="blog/{{post.serial_no}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    </div>
    {% endif %}
{% endblock body %}



