{% extends 'basic.html' %}
{% block title %}BlogPost{% endblock title %}
  
{% block style %}
    /* CSS styles */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(135deg, #F36265, #961276);
    }

    /* Main content styles */
    .content {
      max-width: 800px;
      margin: 80px auto; /* Add margin-top to center the content */
      background-color: #fff;
      padding: 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .blog-post {
      background-color: #f9f9f9; /* Add a light background color to the blog post */
      padding: 20px;
    }

    .blog-post h2 {
      margin-top: 0;
      color: #333;
      font-size: 24px;
      font-weight: bold;
    }

    .blog-post p {
      color: #666;
      line-height: 1.5;
    }
    {% endblock style %}
</head>
{% block body %}
  <!-- Main content -->
  <div class="content">
    <div class="blog-post">
      <h2>Blog Post Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies risus in maximus lobortis.</p>
    </div>
  </div>
  {% endblock body%}

