{% extends 'basic.html' %}
{% block title %}BlogPost{% endblock title %}
  
{% block style %}
    {% endblock style %}

    {% block body %}
  <!-- Main content -->
<div class="container" style="margin-top: 5rem; max-width:50rem">
  <div class="card text-center">
    <div class="card-header">
      <h1 class="card-title">{{post.title}}</h1>
    </div>
    <div class="card-body">
      
      <p class="card-text lh-1">{{post.content}}</p>
  
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>
  </div>
  {% endblock body%}

